$primary-color-dark:   #000000;
$primary-color:        #212121;
$primary-color-light:  #484848;
$primary-text-color:   #ffffff;
$secondary-text-color: #bdbdbd;

$font-size: 2.5vh;

@mixin button-depth-shadow($offset : 0px) {
    -webkit-box-shadow: 0 calc(0.3em - #{$offset}) 0.2em $primary-color-dark;
    -moz-box-shadow: 0 calc(0.3em - #{$offset}) 0.2em $primary-color-dark;
    box-shadow: 0 calc(0.3em - #{$offset}) 0.2em $primary-color-dark;
} 
 