html, body{
    height: 100%;
    margin: 0;
} 

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    &:focus{
        outline: none;
    }
}

input::-moz-focus-inner,
button::-moz-focus-inner{
    border: 0;
    padding: 0;
}
