<div class="scores row around-xs">
    <div class="col-xs-3 text-box">
        <p class="text-box text-box__text">
            Score
        </p>
        <p class="text-box text-box__numbers">
            1234
        </p>
    </div>
    <div class="col-xs-3 text-box">
       <p class="text-box text-box__text">
            Level
        </p>
        <p class="text-box text-box__numbers">
            1
        </p>
    </div>
</div>