@import '../../assets/style/imports.scss';

.scores {
    .text-box {
        text-align: center;
    
        .text-box__text{
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-bottom: 0;
            color: $secondary-text-color;
        }

        .text-box__numbers{
            font-weight: 300;
            font-size: 2.2em;
            margin-top: 0; 
        }
    }
}