<div class="container app-container">
    <div class="row app-container__bar">
        <scores class="col-xs-12"></scores>
    </div>
    <div class="row app-container__main">
        <board class="app-container__column--full-height col-xs-12"></board>
    </div>
    <div class="row app-container__bar">
        <footer-bar class="col-xs-12"></footer-bar>
    </div>
</div>