@import '../assets/style/imports.scss';

body {
    background: $primary-color;
    color: $primary-text-color;
}

.app-container{
    font-size: $font-size;
    font-family: Raleway, sans-serif;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 90%;
    max-width: 90vh;
    text-align: center;

    .app-container__bar{
        flex: 1;
    }

    .app-container__main{
        flex: 4 1 auto;
        .app-container__column--full-height {
            display: flex;
            flex-direction: column;
        }
    }
}