<div class="row board__content board__content--full-height">
    <button class="board__cell col-xs-12"></button>
    <button class="board__cell col-xs-12"></button>
    <button class="board__cell col-xs-12"></button>
</div>