$material-colors: (#F0B101, #0087D9, #CA1353); 

.board__content{
    padding: 2em 0;

    &.board__content--full-height{
        flex: 1;
        flex-direction: row;
    }

    .board__cell{
        @for $i from 1 to length($material-colors) + 1 {
            $color: nth($material-colors, $i);

            &:nth-child(#{$i}){
                background: $color;
                &:active, .board__cell--active {
                    background: lighten($color, 20);
                }
            }
        }
    }
}