<div class="row middle-xs">
    <div class="col-xs-4">
        <button class="secondary-button">
            <i class="secondary-button__icon secondary-button__icon--reset"></i>
        </button>
    </div>
    <div class="col-xs-4">
        <button class="main-button">
            <i class="main-button__icon main-button__icon--start"></i>
        </button>
    </div>
    <div class="col-xs-4">
        <button class="secondary-button">
            <i class="secondary-button__icon secondary-button__icon--menu"></i>
        </button>
    </div>
</div>