@import '../../assets/style/imports.scss';

.main-button {
    border-radius: 100%;
    border: 0.3em $primary-text-color solid;

    height: 3.9em;
    width: 3.9em;

    @include button-depth-shadow();

    &:active{
        transform: translate(0, 0.1em);
        @include button-depth-shadow(0.1em);
    }

    .main-button__icon{
        background-position: center center;
        background-size: 80%;
        display: block;
        height: 3.9em;
        width: 3.9em;

        &.main-button__icon--start{
            background-image: url('../../assets/icons/ic_play_arrow_white_24dp.png');
        }

        &.main-button__icon--pause{
            background-image: url('../../assets/icons/ic_pause_white_24dp.png');
        }
    }
}

.secondary-button {
    border-radius: 100%;
    border: 0.2em $primary-text-color solid;

    height: 2.2em;
    width: 2.2em;

    @include button-depth-shadow(0.1em);

    &:active{
        transform: translate(0, 0.1em);
        @include button-depth-shadow(0.2em);
    }

    .secondary-button__icon{
        background-position: center center;
        background-size: 80%;
        display: block;
        height: 2.2em;
        width: 2.2em;

        &.secondary-button__icon--reset{
            background-image: url('../../assets/icons/ic_refresh_white_24dp.png');
        }

        &.secondary-button__icon--menu{
            background-image: url('../../assets/icons/ic_menu_white_24dp.png');
        }
    }
}