<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
    </head>
    <body>
        <div ng-app="simon">
            <simon>
                Loading...
            </simon>
        </div>
    </body>
</html>